body {
    --max-width-percentage: calc(1980 - 100vw); 
    font-family: Roboto, sans-serif;
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 0;
}

figure {
    margin: 0;
}

header {
    background-color: #1F2937;
    padding: 16px 7% 32px 7%;
    height: 60%;
}

.topline{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo a{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.header-nav ul{
    display: flex;
    gap: 10px;
}

.header-nav ul li a{
    font-size: 18px;
    color: #E5E7EB;
}

.header-content {
    margin-top: 70px;
    padding: 0 0 20px 0;
    display: flex;
}

.header-content-left {
    min-width: 30%;
    flex: 1 0 0;
}

.header-content-spacer {
    flex: 0 1 auto;
    width: 10%;
}

.header-content-right {
    min-width: 30%;
    max-height: 100%;
    box-sizing: border-box;
    flex: 1 0 0;
}

.header-content-right img {
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    width:auto;
}

.tagline {
    font-size: 3vw;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.header-content-left p {
    font-size: 1.25vw;
    color: #E5E7EB;
    margin-top: 0.2em;
}

.try-button {
    width: 10em;
    padding: 0.5em 2em;
    border: 0;
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 1.25vw;
    font-weight: bold;
    border-radius: 10px;
    box-sizing: border-box;
}

.features {
    display: flex;
    justify-content: space-evenly;
    margin: 0 20%;
}

main {
    padding-bottom: 25px;
}

main h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 5px 0 14px 0;
}

.feature-card {
    width: 10vw;
}

.feature-card figcaption {
    font-size: 1.25vw;
    color: #666;
}

.feature-card img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    box-sizing: border-box;
    border: 5px solid #3882F6;
    border-radius: 10px;
    padding: 3px;
}

.quote-block {
    background-color: #E5E7EB;
    padding: 30px 22%;
}

.quote {
    font-size: 1.5vw;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    text-align: justify;
    margin: 0;
}

.quote-source {
    font-size: 1.3vw;
    font-weight: bold;
    color: #1F2937;
    text-align: end;
}

.call-to-action-section {
    padding: 30px 22%;
}

.call-to-action-box {
    background-color: #3882F6;
    box-sizing: border-box;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-content: center;
}

.call-to-action-box h2 {
    color: #F9FAF8;
    font-size: 1.5vw;
}

.call-to-action-message {
    color: #E5E7EB;
    font-size: 1.25vw;
}

.call-to-action-button-box {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call-to-action-button-box .try-button{
    margin-right: 2vw;
    border: 3px solid #E5E7EB;
    border-radius: 10px;
}

footer {
    background-color: #1F2937;
    padding: 4vh 0;
}

.copyright {
    color: #E5E7EB;
    font-size: 1.25vw;
    text-align: center;
}
